.sub-button {
	background-color: red;
	color: white ;
	border-color: red;
	cursor: pointer;
	margin-right: 8px;
	transition: opacity 0.15s;
	border-radius: 5px;
}
.sub-button:hover {
	opacity: 0.7;
}

.sub-button:active {
	opacity: 0.4;
}


.join-button{
	background-color: white;
	color: skyblue ;
	border-style: solid;
	border-color: skyblue;
	cursor: pointer;
	border-width: 1px;
	border-radius: 3px;
	margin-right: 8px;
	transition: background-color 1s;
} 
.join-button:hover{
	background-color: rgb(0, 128, 255);
	color: white;
}
.join-button:active {
	opacity: 0.7;
}


.tweet {
	background-color: rgb(0, 128, 255);
	color: white ;
	border-style: solid;
	border-color: rgb(0, 128, 255);
	cursor: pointer;
	border-radius: 15px;
	margin-right: 50px;
	font-weight: bold;
	font-size: 12px;
	height: 30px;
	width: 60;
	transition: box-shadow 1s;
}
.tweet:hover{
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}
.tweet:active {
	opacity: 0.7;
}
