
p {
	font-family: Arial;
}
.title {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	width: 300px;
	line-height: 24px;	
	margin-bottom: 0px;
}
.vd-st {
	font-size: 14px;
	color:rgb(96, 96, 96 );
	margin-top: 0px;
}
.ath {
	font-size: 14px;
	color:rgb(96, 96, 96 );
}
.vd-des {
	font-size: 14px;
	color:rgb(96, 96, 96 );
	width: 280px;
	line-height: 22px;
	margin-bottom: 100px;
}
.end {
	margin-bottom: 50px;
	font-size: 14px;
	background-color: rgb(227, 65, 64);
	color: white;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
}
.shop{
	margin-left: 12px;
}
.shop:hover{
	color:blue;
	text-decoration: underline;
	cursor: pointer;
}